@import "src/assets/variables.scss";

h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.loginOptions {
    margin-left: auto;
}

a {
    cursor: pointer;
}

a, h3 {
    text-transform: uppercase;
    font-size: 26px;

    i {
        margin-right: 10px;
    }
}

.box {
    background-color: white;
    height: 50px;
    border-radius: 20px;
    margin-top: 1px;
    margin-right: 20px;
    padding: 8px 18px 0 18px;

    i, h3 {
        color: $navbar-color;
    }
}

.wee {
    margin: 0 auto;
}

a {
    color: white;
    margin-right: 20px;
    padding-top: 3px;
    height: 50px;

    &:hover {
        box-sizing: border-box;
        color: white;
        box-shadow: inset 0 -2px 0 white;
    }
}