.mainContainer {
    width: 98%;
}

#map { // should this be id?
    width: 70%;
    height: 450px;
}

app-route-creation {
    width: 30%;
    height: 450px;
    background-color: lightcoral;
}