<div id="map" style="width:100%;height:400px"></div>  

<h1>Routing</h1>
<form #RouteForm = "ngForm" (ngSubmit)="onRoutingSubmit(RouteForm.value)">
    <h2>Start:</h2><br>
    Lattitude: <input type="text" name="startLat" [(ngModel)]="startLat"><br>
    Longitude: <input type="text" name="startLng" [(ngModel)]="startLng"><br>
    <h2>End:</h2><br>
    Lattitude: <input type="text" name="endLat" [(ngModel)]="endLat"><br>
    Longitude: <input type="text" name="endLng" [(ngModel)]="endLng"><br>
    <h2>How You Are Travelling:</h2>
    <select name=travelMode ngModel>
      <option value="pedestrian">Pedestrian</option>
      <option value="bicycle">Bicycle</option>
      <option value="car">Car</option>
    </select>

    Name: <input type="text" name="name" ngModel><br>

    <input type="submit" value="SUBMIT">
</form>

<h3>Prob to rain</h3>
<p>{{probToRain}}</p>

<app-graph></app-graph>

<button type="button" (click)="startRoute()">StartRoute</button>