<div id="map"></div>
<div class="mapOptions wrapper">
    <h6>Show?</h6>
    <div class="option wrapper">
        <label for="makerCheckbox">Markers</label>
        <input name="makerCheckbox" type="checkbox" [checked]="markerVisabilities" (change)="showRouteMarkers($event.path[0].checked)">
    </div>
    <div class="option wrapper">
        <label for="rainIndicatorCheckbox">Rain Indicators</label>
        <input name="rainIndicatorCheckbox" type="checkbox" [checked]="rainIndicatorVisibilities" (change)="showRainIndicators($event.path[0].checked)">
    </div>
</div>
<div [ngClass]="{ 'hideElevation': !showElevation }">
    <app-elevation-info
    (elevationChangeChecked)="onElevationChangeChecked($event)"
    (elevationChangeUnchecked)="removeElevationInclineOrDeclinePolylines()"
    (maxInclineChecked)="onMaxInclineChecked($event)"
    (maxInclineUnchecked)="removeMaxInclinePolyline()"
    (maxInclineOverDistanceChecked)="onMaxInclineOverDistanceChecked($event)"
    (maxInclineOverDistanceUnchecked)="removeInclineOverDistancePolyline()">
    </app-elevation-info>
    <app-graph #elevation (graphHoveredOn)="mapFocusedElevation($event)"></app-graph>
</div>