<div id="map" style="width:100%;height:400px"></div>

<form #latLongForm = "ngForm" (ngSubmit)="onSubmit(latLongForm.value)">
    Lattitude: <input type="text" name="lat" ngModel><br>
    Longitude: <input type="text" name="lng" ngModel><br>
    <input type="submit" value="SUBMIT">
</form>
  

<h1>ROUTING</h1>
<form #RouteForm = "ngForm" (ngSubmit)="onRoutingSubmit(RouteForm.value)">
    <h2>Start:</h2><br>
    Lattitude: <input type="text" name="startLat" ngModel><br>
    Longitude: <input type="text" name="startLng" ngModel><br>
    <hr>
    <h2>End:</h2><br>
    Lattitude: <input type="text" name="EndLat" ngModel><br>
    Longitude: <input type="text" name="EndLng" ngModel><br>
    <input type="submit" value="SUBMIT">
</form>