#map {
    width: 100%;
    height: 100%;
}

.hideElevation {
    display: none;
}

h6, label {
    font-size: 14px;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 10px;
}

.mapOptions {
    position: relative;
    bottom: 32px;
    left: 76px;
    background-color: white;
    border: black 1px solid;
    border-radius: 6px;
    width: 330px;
    height: 23px;

    div:last-child {
        margin-right: 10px;
    }

    label {
        text-transform: uppercase;
    }

    .option {
        margin: 0 0 0 auto;
    }

    input {
        margin: 4px 0 0 12px;
    }
}

app-graph {
    width: 400px;
    position: relative;
    float: right;
    bottom: 247px;
    right: 56px;
    background-color: rgba(255, 255, 255, 0.5);
}

app-elevation-info {
    width: 200px;
    position: absolute;
    bottom: 622px;
    right: 536px;
    background-color: lightgrey;
    border-radius: 20px;
}