app-map {
    width: 75%;
}

app-map, app-route-creation {
    border-radius: 5px 0 0 0;
}

app-route-creation {
    width: 25%;
    background-color: lightgray;
    border-radius: 0 5px 0 0;
    overflow-y: scroll;
}

.routeTable {
    margin: 20px 20px 0 20px;
}

.fullContainer {
    background-color: white;
    min-height: 100vh;
}

.mainContainer {
    width: 98%;
    min-height: 94vh;
    margin: 10px auto 0 auto;
    background-color: wheat;
    border-radius: 5px;
}

.wrapper {
    height: 600px;
}
