<router-outlet></router-outlet> <!-- idk what this is -->
<app-navbar></app-navbar>

<app-alert></app-alert>

<input type="button" (click)="toot()">TMEP REEE<br>

<div class="mainContainer">
    <div class="wrapper">
        <app-map (mapClicked)="updateLatLngInputValues($event)"></app-map>
        <app-route-creation style="overflow-y: scroll;" (RoutesCreated)="processNewRoutes($event)"></app-route-creation>
    </div>
    
    <hr>
    
    <app-modal></app-modal>

    <div class="routeTable">
        <app-route-data-table (SelectRowAction)="rowSelected($event)" (routeInfoButtonPressed)="routeInfoButtonPressed($event)"></app-route-data-table>
    </div>
</div>