app-map {
    width: 70%;
    height: 450px;
}

app-route-creation {
    padding-left: 20px;
    width: 30%;
    height: 450px;
    background-color: lightgray;
}

.routeTable {
    margin-top: 20px; 
}

.mainContainer {
    width: 98%;
    margin: 10px auto 0 auto;
}