app-map {
    width: 75%;
}

app-map, app-route-creation {
    border-radius: 5px 0 0 0;
}

app-route-creation {
    width: 25%;
    background-color: lightgray;
    border-radius: 0 5px 0 0;
    overflow-y: scroll;
}

app-alert {
    position: fixed;
    z-index: 100;
}

.routeTable {
    margin: 20px 20px 0 20px;
}

.fullContainer {
    width: 100%;
    height: calc(100% - 500px);
}

.wrapper {
    height: 500px;
}
