$travel-pedestrian-icon: '/assets/images/walking-person.png';
$travel-bike-icon: '/assets/images/bike.png';
$total-elevation-change-icon: '/assets/images/elevation/upDown.png';
$total-incline-icon: '/assets/images/elevation/up.png';

h2 {
    font-size: 18px;
    margin-left: auto;
    padding-top: 4px;
}

h2, p {
    text-align: center;
}

label, p {
    font-size: 10px;
}

p {
    margin-bottom: 8px;
}

hr {
    margin: 10px 0;
}

label {
    text-transform: uppercase;
    font-weight: bold;
    color: grey;
    text-decoration: underline;
}

.descriptionIcon {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: 5px;
}

.ped {
    background-image: url($travel-pedestrian-icon); 
}

.bike {
    background-image: url($travel-bike-icon); 
}

.totalElevationChangeIcon {
    background-size: 12px;
    width: 12px;
    height: 12px;

    background-image: url($total-elevation-change-icon);
}

.totalElevationChangeIcon, .totalInclineIcon {
    background-size: 16px;
    width: 16px;
    height: 16px;

    background-image: url($total-elevation-change-icon);
}

.totalElevationChangeIcon {
    background-image: url($total-elevation-change-icon);
    margin-left: auto;
}

.totalInclineIcon {
    background-image: url($total-incline-icon);
    margin-right: auto;
}

.wrapper {
    margin: auto;
    p {
        padding: 0 5px;
    }
}

.container {
    padding: 10px;
}

input {
    margin-left: auto;
}