.error {
    color: red;
}

.submitButtonPlacement {
    display: flex;

    button {
        margin-right: 10px;
    }

    div {
        margin-top: 7px;
    }

    input[type=checkbox] {
        margin-left: 5px;
        margin-top: 14px;
    }

    .error {
        margin-left: auto;
        font-style: italic;
    }
}