.modal-dialog {
    max-width: 90%; // removes one added by bootstrap, prob is cleaner way
    margin: auto;
    margin-top: 20px; // get auto version for vertical so same spacing above and below
}

app-graph {
    width: 40%;
    margin: auto;
}

app-icon-text {
    width: 220px;
    height: 220px;    
    border-bottom: 2px black solid;    
    margin: auto;
}

.wrapper {
    margin-bottom: 20px;
}

.leaveWhen {
    margin-left: 1520px;

    label {
        padding-top: 2px;
        height: 18px;
    }

    select {    
        margin-left: 10px;
    }
}