 <!-- https://getbootstrap.com/docs/4.0/components/modal/ -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Current Weather</h5> <!-- display route info so easier to see which route is curr looked at-->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="currentWeather">
                <div class="wrapper">
                    <app-icon-text *ngFor="let iconTextThing of iconTextThings" [thing]="iconTextThing"></app-icon-text>
                </div>
            </div>
            <div class="wrapper">
                <app-graph #rainInfo></app-graph>
                <app-graph #totalRain></app-graph>
                <img src="/assets/images/rainfallLegend.png" alt="legend for rainfall">
            </div>
        </div>
    </div>
</div>