<h1>Route Creation</h1>
<hr/>
<form #RouteForm="ngForm" (ngSubmit)="onRoutingSubmit(RouteForm.value)">
  <div class="wrapper">
    <div class="firstColumn">    
      <label for="name">Name</label>
      <input type="text" name="name" [ngModel]="defaultRouteName"><br/>
    </div>
    <div class="travelModeSection">
      <label for="travelMode">Mode of Transport</label>
      <select name=travelMode [(ngModel)]="selectedTravelMode" [ngClass]="{'ped': selectedTravelMode == 'pedestrian', 'bike': selectedTravelMode == 'bicycle', 'car': selectedTravelMode == 'car' }" class>
        <option value="pedestrian">Pedestrian</option>
        <option value="bicycle">Bicycle</option>
        <option value="car">Car</option>
      </select>
    </div>
  </div>
  <div class="wrapper">
    <div class="starting">
      <label for="startingPoint">Starting Point</label>
      <input type="text" name="startingPoint" [(ngModel)]="startingPoint"> <!-- input but not saved anywhere (yet?)-->
    </div>
    <button class="searchLocationButton" type="button" (click)="setNewLocationByName(calculatedStartLocation, startingPoint, searchForStart, true)"><i class="fas fa-search-location"></i></button>
    <button class="ClickToSetMarkerButton" type="button" [ngClass]="{'buttonIsClickableHighlighted': isStartingLocationClickableFocused}" (click)="startingLocationInClickableState()"><i class="fas fa-map-pin"></i></button>
  </div>
  <div class="note">
    <label for="startingPoint">Show Lat/Lng?</label>
    <input name="showStartLatLng" type="checkbox" [checked]="showStartLatLng" (change)="showStartLatLng = !showStartLatLng">
  </div>



  <div *ngIf="showStartLatLng" >
    <div class="wrapper">
      <div class="firstColumn">
        <label for="startLat">Lattitude:</label>
        <input type="text" name="startLat" [(ngModel)]="startLat">
      </div>
      <div class="longitudeColumn">
        <label for="startLng" >Longitude:</label>
        <input type="text" name="startLng" [(ngModel)]="startLng">
      </div>
      <button class="ClickToSetMarkerButton" type="button" (click)="pp(true)"><i class="fas fa-search-location fa-lg"></i></button>
    </div>
    <hr>
  </div>
  
  <div class="wrapper">
    <div class="ending">
      <label for="destination">Destination</label>
      <input type="text" name="destination" [(ngModel)]="destination"> <!-- input but not saved anywhere (yet?)-->
    </div>
    <button class="searchLocationButton" type="button" (click)="setNewLocationByName(calculatedEndLocation, destination, searchForEnd, false)"><i class="fas fa-search-location"></i></button>
    <button class="ClickToSetMarkerButton" type="button" [ngClass]="{'buttonIsClickableHighlighted': isDestinationClickableFocused}" (click)="destinationLocationInClickableState()"><i class="fas fa-map-pin "></i></button>
  </div>
  <div class="note">
    <label for="showEndLatLng">Show Lat/Lng?</label>
    <input name="showEndLatLng" type="checkbox" [checked]="showEndLatLng" (change)="showEndLatLng = !showEndLatLng">
  </div>

  <div *ngIf="showEndLatLng">
    <div class="wrapper">
      <div class="firstColumn">
        <label for="endLat">Lattitude:</label>
        <input type="text" name="endLat" [(ngModel)]="endLat">
      </div>
      <div class="longitudeColumn">
        <label for="endLng">Longitude:</label>
        <input type="text" name="endLng" [(ngModel)]="endLng"><br/>
      </div>
      <button class="ClickToSetMarkerButton" type="button" (click)="pp(false)"><i class="fas fa-search-location fa-lg"></i></button>
    </div>
    <hr>
  </div>

  
  <input *ngIf="!routeCreationLoading; else loading" type="submit" value="SUBMIT">
  <ng-template #loading>
    <button type="button" class="loadingSubmit" *ngIf="currentUsername == null; else logout">
      <div class=loadingSpinner></div>
  </button>
  </ng-template>

</form>