<h1>Route Creation</h1>
<hr/>
<form #RouteForm="ngForm" (ngSubmit)="onRoutingSubmit(RouteForm.value)">
  <div class="wrapper">
    <div class="firstColumn">    
      <label for="name">Name</label>
      <input type="text" name="name" [ngModel]="defaultRouteName"><br/>
    </div>
    <div class="travelModeSection">
      <label for="travelMode">Mode of Transport</label>
      <select name=travelMode [ngModel]="defaultTravelMode" class>
        <option value="pedestrian">Pedestrian</option>
        <option value="bicycle">Bicycle</option>
        <option value="car">Car</option>
      </select>
    </div>
  </div>

  <!--<div *ngIf="isStartLatLngFocused === true" class="isFocused">FOCUSED</div>  prob can replace === with boolean comparison -->
  <div class="wrapper">
    <div class="starting">
      <label for="startingPoint">Starting Point</label>
      <input type="text" name="startingPoint" [(ngModel)]="startingPoint"> <!-- input but not saved anywhere (yet?)-->
    </div>
    <button type="button" (click)="setStartName()"><i class="fas fa-search-location fa-lg"></i></button>
  </div>



  <div *ngIf="showStartLatLng" class="wrapper">
    <div class="firstColumn">
      <label for="startLat">Lattitude:</label>
      <input type="text" name="startLat" [(ngModel)]="startLat">
    </div>
    <div>
      <label for="startLng" >Longitude:</label>
      <input type="text" name="startLng" [(ngModel)]="startLng">
    </div>
  </div>
  
  
  <!-- <div *ngIf="isStartLatLngFocused === false" class="isFocused">FOCUSED</div> -->
  <div class="wrapper">
    <div class="ending">
      <label for="destination">Destination</label>
      <input type="text" name="destination" [(ngModel)]="destination"> <!-- input but not saved anywhere (yet?)-->
    </div>
    <button type="button" (click)="setEndName()"><i class="fas fa-search-location fa-lg"></i></button>
  </div>

  <div *ngIf="showEndLatLng" class="wrapper">
    <div class="firstColumn">
      <label for="endLat">Lattitude:</label>
      <input type="text" name="endLat" [(ngModel)]="endLat">
    </div>
    <div>
      <label for="endLng">Longitude:</label>
      <input type="text" name="endLng" [(ngModel)]="endLng"><br/>
    </div>
  </div>

  Show Start Lat Lng?<input type="checkbox" [checked]="showStartLatLng" (change)="showStartLatLng = !showStartLatLng">
  Show End Lat Lng?<input type="checkbox" [checked]="showEndLatLng" (change)="showEndLatLng = !showEndLatLng">
  click on map to set location?<input type="checkbox" [(ngModel)]="canClickMapForMarker" (change)="setMapClickableState()" [ngModelOptions]="{standalone: true}">

  <input type="submit" value="SUBMIT">
</form>