<div class="container">
  <form #RouteForm="ngForm" (ngSubmit)="onRoutingSubmit(RouteForm.value)">
      <div class="wrapper">
          <div>
              <h2>Start:</h2>
              <div *ngIf="isStartLatLngFocused === true" class="isFocused">Is Focused</div><br/>
              <p>Lattitude:</p><input type="text" name="startLat" [(ngModel)]="startLat">
              <p>Longitude:</p><input type="text" name="startLng" [(ngModel)]="startLng">
          </div>
          <div>
              <h2>End:</h2>
              <div *ngIf="isStartLatLngFocused === false" class="isFocused">Is Focused</div><br/>
              <p>Lattitude:</p><input type="text" name="endLat" [(ngModel)]="endLat">
              <p>Longitude:</p><input type="text" name="endLng" [(ngModel)]="endLng">
          </div>
          <div>
              <h2>Extra</h2><br/>
              <p>Mode of Transport:</p>
              <select name=travelMode ngModel>
                <option value="pedestrian">Pedestrian</option>
                <option value="bicycle">Bicycle</option>
                <option value="car">Car</option>
              </select>
          
              <p>Name:</p>
              <input type="text" name="name" ngModel><br>
          </div>
          <div>
            <input type="submit" value="SUBMIT">
          </div>
      </div>
  </form>
</div>