@import "src/assets/variables.scss";

body {
    margin: 0;
}

// Navbar //

app-navbar {
    width: 100%;
    height: 50px;
    background-color: $navbar-color;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

// DataTable.net // (HERE SO CAN WORK WITH LIBRARY)

.fa-chevron-circle-up {
    margin-left: 5px;
    color: #ff526c;
}

.fa-chevron-circle-down {
    margin-left: 5px;
    color: #57e851;
}

.fa-minus-circle {
    margin-left: 5px;
    color: #f2c05c;
}

i.fa-star {
    cursor: pointer;
    color: #FFEF00;
}

i.fa-trash {
    cursor: pointer;
    margin-left: 10px;
}

.square {
    width: 20px;
    height: 20px;
    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
}


app-route-data-table {
    th, label {
        font-size: 14px;
    }

    td {
        font-size: 12px;
    }
}

.rainIntensityIndictor {
    width: 80px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}