<div style="width: 40%;">
    <canvas
        baseChart
        [chartType]="'line'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [colors]="chartColours"
        [legend]="lineChartLegend"
        (chartClick)="onChartClick($event)">
    </canvas>
</div>
<h1 *ngIf="bestRoute">You should leave {{bestRoute.whenShouldleave}} mins from now using route: {{bestRoute.name}}. This is due to the lowest Percentage to rain of {{bestRoute.lowestPercentage}}%</h1>